*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3rem;
    font-family: 'Karla', sans-serif;
}

main{
    max-width: 63.5rem;
    display: grid;
    border-radius: .8rem;
    box-shadow: 0px 0px 35px 11px rgba(0,0,0,0.1);
}

.sec-1{
    background-color: hsl(0, 0%, 100%);
    border-radius: .8rem .8rem 0 0;
}

.sec-2{
    background-color: hsl(179, 62%, 43%);
    border-radius: 0;
}

.sec-3{
    background-color: rgba(74,190,189,255);
    border-radius: 0 0 0.8rem 0.8rem;
}

article{
    padding: 4.5rem 4rem;
    width: 100%;
}

p{
    font-size: 1.6rem;
}

h1{
    font-size: 2.5rem;
    color: hsl(179, 62%, 43%);
    margin-bottom: 2rem;
}

.yellow{
    color: hsl(71, 73%, 54%) !important;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.sec-1 p{
    color: hsl(218, 22%, 67%);
    line-height: 2.6rem;
}

h2{
    font-size: 1.9rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 2rem;
}

.split{
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
}

span{
    font-size: 3.5rem !important;
    font-weight: 700;
    color: hsl(0, 0%, 100%) !important;
    margin-right: 1.5rem;
}

.price{
    color: #70d7db;
}

.text{
    color: white;
    margin-bottom: 3rem;
}

button{
    color: hsl(0, 0%, 100%);
    background-color: hsl(71, 73%, 54%);
    font-size: 1.7rem;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    border: none;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: .8rem;
    box-shadow: 6px 10px 15px -3px rgba(0,0,0,0.1);
    cursor: pointer;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sec-3 p{
    color: hsl(0, 13%, 94%);
    font-size: 1.5rem;
    line-height: 2.2rem;
}

@media all and (min-width: 630px){
    main{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .sec-1{
        grid-column: span 2;
    }
    .sec-2{
        border-radius: 0 0 0 0.8rem;
    } 
    .sec-3{
        border-radius: 0 0 0.8rem 0;
    }
}

@media all and (max-width: 380px){
    html{
        font-size: 50%;
    }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }